$mainColor:#ce3d3e;
$white:#fff;
$ft-color-default:#333;
$headH:56px;
$tabsH:45px;
$bannerH:170px;
$recommendIconH:25px;
$playlistCoverW:118px;
$ft-xlg:20px;
$ft-lg:18px;
$ft-m:16px;
$ft-sm:14px;
$ft-xsm:13px;
$ft-xxsm:12px;